<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>290418482435-grn7vhfjf7eevc0c8s219mv339aqdbam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290418482435-grn7vhfjf7eevc0c8s219mv339aqdbam</string>
	<key>API_KEY</key>
	<string>AIzaSyCrrnoJ9wgmVt_zfMK9itpvFh_Rppz5KTY</string>
	<key>GCM_SENDER_ID</key>
	<string>290418482435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.purpleteal.tweakeatapp</string>
	<key>PROJECT_ID</key>
	<string>tweakandeat-3dc7e</string>
	<key>STORAGE_BUCKET</key>
	<string>tweakandeat-3dc7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:290418482435:ios:657882ba95d17ba0</string>
	<key>DATABASE_URL</key>
	<string>https://tweakandeat-3dc7e.firebaseio.com</string>
</dict>
</plist>
