<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>400</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>tweakandeat.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>"Tweak &amp; Eat" wants to access camera</string>
	<key>NSContactsUsageDescription</key>
	<string>By clicking 'OK' below you give us the consent to upload any or all contacts chosen by you, so 'Tweak &amp; Eat' can communicate with them, by buzzing them with a message, when you need it (when you press the 'Buzz' button).
Please click on Settings--&gt;About App--&gt;Privacy Policy to know more about our Privacy Policy</string>
	<key>NSContactsUsageDescription </key>
	<string>By clicking 'OK' below you give us the consent to upload any or all contacts chosen by you, so 'Tweak &amp; Eat' can communicate with them, by buzzing them with a message, when you need it (when you press the 'Buzz' button).
Please click on Settings--&gt;About App--&gt;Privacy Policy to know more about our Privacy Policy</string>
	<key>NSLocalizedDescription</key>
	<string>$(PRODUCT_NAME) local location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>$(PRODUCT_NAME) always show loaction</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>"Tweak &amp; Eat" wants to use your location</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>"Tweak &amp; Eat" wants to access photos</string>
	<key>NSRemindersUsageDescription</key>
	<string>$(PRODUCT_NAME) reminders</string>
	<key>UIAppFonts</key>
	<array>
		<string>source-sans-pro.light.ttf</string>
		<string>source-sans-pro.extralight.ttf</string>
		<string>source-sans-pro.bold.ttf</string>
		<string>source-sans-pro.black.ttf</string>
		<string>SourceSansPro-Semibold.ttf</string>
		<string>SourceSansPro-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UILocalNotificationDefaultSoundName</key>
	<string>birds018.wav</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
