<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.purpleteal.tweakeatapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>purpleteal</string>
				<string>fb269853870748452</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tweakandeat</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>269853870748452</string>
	<key>FacebookAutoInitEnabled</key>
	<true/>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>FacebookDisplayName</key>
	<string>Tweak &amp; Eat</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>purpleteal://</string>
		<string>com.purpleteal.tweakeatapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>tweakandeat.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>"Tweak &amp; Eat" would like access to help take photos of food plates so we can help you tweak it</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Tweak and Eat wants to access your health data to send to our nutritionists</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Tweak and Eat wants to access your health data to send to our nutritionists</string>
	<key>NSLocalizedDescription</key>
	<string>$(PRODUCT_NAME) local location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>"Tweak &amp; Eat" wants to use your location to assign the right local nutritionist and help tweak your meal.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>"Tweak &amp; Eat" wants to use your location to assign the right local nutritionist and help tweak your meal.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>"Tweak &amp; Eat" would like access the device's microphone to make and receive calls</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>"Tweak &amp; Eat" needs permission to save photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>"Tweak &amp; Eat" would like access to photo library to help choose photos of food plates so we can help you tweak it</string>
	<key>NSRemindersUsageDescription</key>
	<string>"Tweak &amp; Eat" wants users to remind of tweaking their food plate.</string>
	<key>Privacy - Tracking Usage Description</key>
	<string>Please confirm IDFA collection</string>
	<key>UIAppFonts</key>
	<array>
		<string>source-sans-pro.light.ttf</string>
		<string>source-sans-pro.extralight.ttf</string>
		<string>source-sans-pro.bold.ttf</string>
		<string>source-sans-pro.black.ttf</string>
		<string>SourceSansPro-Semibold.ttf</string>
		<string>SourceSansPro-Regular.ttf</string>
		<string>QUESTRIAL-REGULAR.TTF</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>cameraItem</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeTweakNow</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Tweak Now</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).TweakNow</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>myEDRItem</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeMy EDR</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>My EDR</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).MyEDR</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>myWallItem</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeTweakWall</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Tweak Wall</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).TweakWall</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>recipeWallItem</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeRecipeWall</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Recipe Wall</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).RecipeWall</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UILocalNotificationDefaultSoundName</key>
	<string>birds018.wav</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
